.so
*.a
*.o
.zip
*.rar
*.tar
*.bz2

###ffmpeg-android-build
ffmpeg-android-build/ffmpeg.git
ffmpeg-android-build/ffmpeg-3.2.4/
ffmpeg-android-build/android-builds/armv7-a-neon/


##ffmpeg-android-example-master
ffmpeg-android-example-master/.gradle/
ffmpeg-android-example-master/.idea/
ffmpeg-android-example-master/gradle/
ffmpeg-android-example-master/build/
ffmpeg-android-example-master/app/build/
ffmpeg-android-example-master/app/src/main/libs/
ffmpeg-android-example-master/app/src/main/obj/